*{
font-family: 'Noto Sans'
}

.title{
padding: 10px;
background-color: #ddd;
color: #111;
with: 100%;
heigth: 20px;
}

.login{

    margin: 2em;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 30% ;
    right: 30%;
    background-color: #ccc;
    with: 400px;
    height: 120px;
}

.button-login{
border: 1px;
margin: .3em;
padding: .3em;
margin-top: 5px;
background-color: cyan;
with: 200px
}