{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-page">

    <form class="form">

      
        <div class="input-field col s12 m6">
        <div class="card marfin lighter">
        <div class="card-content">
      <input type="text" placeholder="Título" class="input-field" />
      <textarea type="text" placeholder="Descrição" class="materialize-textarea"/>
      </textarea>
          <label for="textarea1">Textarea</label>
      <input type="date" placeholder="data do evento"/>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
      </div>
      </div>
        </div>
    </form>

</div>
{% endblock %}