<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8" />
  <title>Formulário de Login e Registro com HTML5 e CSS3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>


<div class="login-page">
  <div class="form">
<!--    <form class="register-form">-->
<!--      <input type="text" placeholder="name"/>-->
<!--      <input type="password" placeholder="password"/>-->
<!--      <input type="text" placeholder="email address"/>-->
<!--      <button>create</button>-->
<!--      <p class="message">Already registered? <a href="#">Sign In</a></p>-->
<!--    </form>-->
    <form class="login-form" action="{{'/auth/register/'}}" method="POST"> {% csrf_token %}
<!--      <input type="text" placeholder="username"/>-->
      <input type="email" placeholder="email" name="email"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="password" placeholder="password repeat" name="password_confirm"/>
      <button>Signup</button>
      <p class="message">Already registered? <a href="{{'/auth/login/'}}">Signin in your account</a></p>
    </form>
  </div>
  <div align="center">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
    </div>
</div>
<script>


$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});



</script>
</body>
</html>